#gradle-wrapper.jar
#/.gradle
#/captures/
#/gradlew
#/gradlew.bat
#/local.properties
#GeneratedPluginRegistrant.java
#.cxx/

/settings.gradle.kts
/local.properties

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore

/local.properties
/settings.gradle.kts

key.properties
**/*.keystore
**/*.jks
